.aside-section {
  width: 18em;
  background: rgb(27, 0, 87);
  height: 100vh;
  padding-top: 1em;
  padding-bottom: 80px;
  overflow-y: auto;
}

.mobile {
  display: none;
  width: 100vw;
  background: rgb(27, 0, 87);
  height: 100vh;
  padding-top: 1em;
}

nav>ul>li {
  padding: 0.5em 0 0.5em 0.5em;
  /* border: 1px solid yellow; */
}

nav>ul>li a {
  padding-right: 1em;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 1em;
  /* border: 1px solid red; */
  border-radius: 3em 0 0 3em;
}

/* nav ul li:first-child :nth-child(1) {
  background-color: white;
  color: rgb(27, 0, 87);
} */

.dashboard {
  background-color: white;
}

.dashboard .name {
  color: rgb(27, 0, 87);
}

.dashboard .name i svg path {
  fill: rgb(27, 0, 87);
}

nav ul li:first-child :first-child svg {
  fill: rgb(27, 0, 87);
}

.name {
  display: flex;
  align-items: center;
  flex: wrap;
  flex-basis: 80%;
  gap: 1em;
  font-size: 1.1rem;
  color: white;
}

.name i svg {
  display: block;
}

.name i svg path {
  fill: white;
}

.name:hover {
  cursor: pointer;
}

.caret-down {
  display: block;
}

.caret-up {
  display: none;
}

.subMenu li,
.subMenu a {
  display: block;
}

.subMenu {
  margin-left: 3em;
}

.subMenu li {
  padding: 0.5em 0 0.5em 0.5em;
}

.subMenu a {
  text-decoration: none;
  color: rgb(255, 255, 255, 0.4);
}

.subMenu a:focus {
  color: white;
}

.subMenu a:hover {
  color: white;
}

/* Old Version */

/* 
.aside-nav {
  padding: 3em 0;
  padding-left: 1em;
  overflow: hidden;
}

.aside-nav nav > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
}

.aside-nav nav li,
.aside-nav nav a {
  display: block;
}

.aside-nav nav ul li > a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  width: 15em;
  border-radius: 5em 0 0 5em;
  padding: 1em 0 1em 1em;
}

.aside-nav nav ul li .dashboard {
  background-color: white;
  color: rgb(27, 0, 87);
}

path {
  margin-top: 0.2em;
}
*/

.icon svg {
  margin-left: 1em;
  fill: white;
  height: 1.2em;
}

@media (width < 600px) {
  .aside-section {
    display: none;
  }

  .mobile {
    display: block;
  }
}