<div class="container">
    <header>
        <h1>Начален екран</h1>
    </header>
    <section class="card-container">
        <div class="card">
            <app-info-card [color]="'red'" [total]="'82'" [nameCard]="'Продажби'" [measure]="'бр.'"></app-info-card>
        </div>
        <div class="card">
            <app-info-card [color]="'blue'" [total]="'536,30'" [nameCard]="'Оборот'" [measure]="'лв.'"></app-info-card>

        </div>
        <div class="card">
            <app-info-card [color]="'orange'" [total]="'72,58'" [nameCard]="'Печалба'"
                [measure]="'лв.'"></app-info-card>
        </div>
        <div class="card">
            <app-info-card [color]="'gray'" [total]="'26'" [nameCard]="'Чакащи поръчки'"
                [measure]="'бр.'"></app-info-card>
        </div>
        <div class="card">
            <app-info-card [color]="'purple'" [total]="'5/458'" [nameCard]="'Доставки'"
                [measure]="'бр./лв.'"></app-info-card>
        </div>
        <div class="card">
            <app-info-card [color]="'whiteblue'" [total]="'2/122'" [nameCard]="'Разходи'"
                [measure]="'бр./лв.'"></app-info-card>
        </div>
        <div class="card">
            <app-info-card [color]="'brown'" [total]="'15'" [nameCard]="'Брак'" [measure]="'лв.'"></app-info-card>
        </div>
        <div class="card">
            <app-info-card [color]="'green'" [total]="'89,38'" [nameCard]="'ДДС от продажби'"
                [measure]="'лв.'"></app-info-card>
        </div>
        <div class="card">
            <app-info-card [color]="'purple'" [total]="'96,66'" [nameCard]="'ДДС за прихващане'"
                [measure]="'лв.'"></app-info-card>
        </div>
        <div class="card">
            <app-info-card [color]="'red'" [total]="'-7,28'" [nameCard]="'ДДС за внасяне'"
                [measure]="'лв.'"></app-info-card>
        </div>
        <div class="card">
            <app-info-card [color]="'orangered'" [total]="'2356,25'" [nameCard]="'Суми в касите'"
                [measure]="'лв.'"></app-info-card>
        </div>
        <div class="card">
            <app-info-card [color]="'olivedrab'" [total]="'12850'" [nameCard]="'Суми в банките'"
                [measure]="'лв.'"></app-info-card>
        </div>
        <div class="card">
            <app-info-card [color]="'brown'" [total]="'15526,25'" [nameCard]="'Ст. наличност по ср. дост. цена без ДДС'"
                [measure]="'лв.'"></app-info-card>
        </div>
        <div class="card">
            <app-info-card [color]="'red'" [total]="'-825,60'" [nameCard]="'Салда на контрагенти'"
                [measure]="'лв.'"></app-info-card>
        </div>
    </section>
    <section class="table">
        <header>
            <h2>Документи от продажби</h2>
        </header>
        <app-main-table [dataSource]="dataSource"></app-main-table>
    </section>
</div>