.container {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.container header h1 {
    color: var(--primary-color);
    padding: 0 1rem;
}

.card-container {
    display: flex;
    margin: 1em;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-evenly;
}

.card-container .card {
    flex: 0 1 20%;
    border-radius: 1em;
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 0 1em 0 rgb(27, 0, 87, 0.4);

}

.table {
    display: block;
}

.table header h2 {
    margin-bottom: 0.5rem;
    color: var(--primary-color);
    padding-left: 1rem;
    /* text-shadow: 1px 1px 2px rgb(27, 0, 87); */
}

@media (width < 600px) {

    header h1,
    header h2 {
        text-align: center;
    }

    .card-container {
        gap: 1em;
    }
}