<div class="container">
    <header>
        <h1>Начален екран</h1>
    </header>
    <section class="card-container">
        <div class="card">
            <app-info-card [color]="'red'" [total]="'82'" [nameCard]="'Продажби'"></app-info-card>
        </div>
        <div class="card">
            <app-info-card [color]="'blue'" [total]="'26'" [nameCard]="'Поръчки от клиенти'"></app-info-card>

        </div>
        <div class="card">
            <app-info-card [color]="'orange'" [total]="'536,30'" [nameCard]="'Оборот'"></app-info-card>
        </div>
        <div class="card">
            <app-info-card [color]="'gray'" [total]="'8542.25'" [nameCard]="'Сума в касите'"></app-info-card>
        </div>
        <div class="card">
            <app-info-card [color]="'green'" [total]="'2598'" [nameCard]="'Стокова наличност'"></app-info-card>
        </div>
        <div class="card">
            <app-info-card [color]="'purple'" [total]="'8954.81'" [nameCard]="'Месечен оборот'"></app-info-card>
        </div>
        <div class="card">
            <app-info-card [color]="'whiteblue'" [total]="'1124.1'" [nameCard]="'Натрупано ДДС'"></app-info-card>
        </div>
        <div class="card">
            <app-info-card [color]="'brown'" [total]="'4549.22'" [nameCard]="'Разход'"></app-info-card>
        </div>
    </section>
    <section class="table">
        <header>
            <h2>Документи от продажби</h2>
        </header>
        <app-main-table [dataSource]="dataSource"></app-main-table>
    </section>
</div>