.header-section {
  display: flex;
  background: white;
  justify-content: space-between;
  padding: 1.5em 3em;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 2em;
}

.logo img {
  display: block;
  height: 35px;
}

.logo h2 {
  color: var(--primary-color);
}

.nav-bar {
  display: flex;
  gap: 1em;
}

.nav-bar ul {
  display: flex;
}

.nav-bar li,
.nav-bar a {
  display: block;
}

.nav-bar a {
  text-decoration: none;
  color: var(--primary-color);
  margin: 1em;
  font-size: 1.2rem;
  line-height: 0.9em;
  font-weight: 400;
  border: solid white;
  border-width: 0 0 2px 0;
  transition: border 0.3s ease-in-out;
}

.nav-bar a:hover {
  border-color: var(--primary-color);
}

.profil {
  display: flex;
  align-items: center;
}

.profil svg:hover {
  border-color: var(--primary-color);
}

.profil span {
  display: none;
}

.profil svg {
  cursor: pointer;
  fill: var(--primary-color);
  height: 2.2em;
  border: 2px solid white;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 2px;
  transition: border 0.3s ease-in-out;
}

.mobile-menu {
  display: none;
}

.mobile-menu i {
  display: flex;
  align-items: center;
}

.mobile-menu i svg {
  fill: var(--primary-color);
}

@media (width < 600px) {
  .nav-bar {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }

  .header-section {
    padding: 1em 1.5em;
  }

  .logo h2 {
    display: none;
  }

  .logo img {
    height: 3.5em;
  }
}