<div class="login">
    <header class="login-header">
        <img src="" alt="Yanak Soft Logo" class="login-header__logo">
        <nav class="login-header__nav">
            <ul>
                <li><a href="">За нас</a></li>
                <li><a href="">Контакти</a></li>
                <li><a href="">Новини</a></li>
                <li><a href="">Ръководство за работа</a></li>
                <li><a href="">Е-магазин</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container-login">
            <div class="form-container">

            </div>
        </div>
    </main>
</div>