.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.login-header {
    display: flex;
    padding: 1em 4em;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}

.login-header__logo {
    display: block;
    color: white;
}

.login-header__nav li {
    display: inline-block;
    margin-left: 3em;
}

.login-header__nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: color 0.3s ease-in-out;
}

.login-header__nav a:hover {
    color: rgb(255, 255, 255, 0.5);
}

.button-shop {
    padding: 0.5em 1em;
    background-color: red;
    border-radius: 0.5em;
}

.container-login {
    background: linear-gradient(180deg,
            var(--primary-color) 0%,
            rgb(67, 67, 198) 70%,
            rgb(96, 96, 230) 100%);
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.3) inset;
}

.container-login__form {
    display: flex;
    background-color: rgb(192, 192, 192, 0.3);
    width: 60%;
    height: 75%;
    border-radius: 1em;
    box-shadow: 0 0 1em 0 rgb(255, 255, 255);
    overflow: hidden;
}

.container-login__form--banner {
    flex: 1 1 50%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.container-login__form--banner img {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-login__form--form {
    display: flex;
    flex-direction: column;
    flex: 1 1 40%;
    height: 100%;
    justify-content: center;
}

.container-login__form--form header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em;
    margin-top: 2.5em;
}

.container-login__form--form header h1 {
    font-weight: normal;
    color: white;
}

.container-login__form--form header ul {
    display: block;
}

.container-login__form--form header ul li {
    display: inline-block;
    margin-left: 1em;
}

.container-login__form--form form {
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0 2em;
}

.container-login__form--form label {
    color: white;
    font-size: 0.9em;
    padding-left: 1em;
    padding-bottom: 0.2em;
}

.container-login__form--form input {
    padding: 0.8em 2em;
    background-color: rgb(255, 255, 255, 0.6);
    outline: none;
    border: none;
    margin-bottom: 1.5em;
    border-radius: 3em;
    color: var(--primary-color);
    font-size: 1.1em;
}

.container-login__form--form input[type='submit'] {
    background-color: red;
    color: white;
    font-size: 1em;
    margin-top: 1em;
    transition: background-color 0.3s ease-in-out;
}

.container-login__form--form input[type='submit']:hover {
    cursor: pointer;
    background-color: rgb(219, 0, 0);
}

.container-login__form--remember {
    color: white;
    display: flex;
    margin-left: 2em;
}

.container-login__form--remember input {
    zoom: 1.5;
    margin-right: 5px;
}

@media (width < 600px) {
    .login {
        overflow-y: scroll;
    }

    .login-header {
        flex-direction: column;
    }

    .login-header__logo {
        padding: 1em 0;
    }

    .login-header__nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .login-header__nav ul li {
        margin: 0.8em 0;
    }

    .container-login__form {
        flex-direction: column;
        width: 80%;
        height: auto;
    }

    .container-login__form--banner img {}

    .container-login__form--banner {
        display: none;
    }

    .container-login__form--form {}
}